.jumbotron {
    margin-top: 3%;
    background-image: url(http://static.dnaindia.com/sites/default/files/styles/half/public/2016/10/11/509185-dna-logo1.jpg?itok=mbjUhzDY);
 
 
    
    background-size: 100% 100%;
    width: 100%;
    height: 400px;
}
#toggle{
    background-color: white;
}
#search{
    margin-left: 5px;
}
#dna{
    color: white;
    font-weight: bolder; 
}
#buttons{
    margin-left: 10px;
}
#Favourite{
    color: white;
}
.bg-primary {
    background-color: #000 !important;
   }
   
   .bg-circle
   {
     display: inline-block;
     width: 60px;
     height: 60px;
     padding: 14px 4px;
     color: #ececec;
     text-align: center;
     border-radius: 50%;
   }
   
   .bg-circle-outline
   {
     width: 50px;
     height: 50px;
     color:smoke;
     padding: 8px 2px;
     border: 2px solid;
     border-color: smoke;
     border-radius: 50%;
   }
   
   
   .bg-circle a, a:hover, .media a:focus
   {
     text-decoration: none !important;
     outline: none;
     color: #ececec;
   }
   .bg-circle-outline a, a:hover, .media a:focus
   {
     text-decoration: none !important;
     outline: none;
     color: #ececec;
   }
  
   #links{
       margin-left: 30%;
   }
   #link2{
       margin:0 2% 0 4%
   }

   #social{
       margin:1% 0 0 42%
       
   }
   #copy{
    margin:1% 0 0 42%
   }