
   <div  class="card">
                      <img class="card-img-top" src="{{details.urlToImage}}" alt="Card image cap" style="max-height: 300px" >
                      <div class="card-block">
                        <h4 class="card-title">{{details.title}}</h4>
                        <p class="card-text">{{details.description}}</p>
                        <button  class="btn btn-primary" (click)='addFavourite(details)'>Add to favourites</button>
                      </div> 
              </div>
         


