

<!-- <div  class="card">
  <img class="card-img-top" src="{{viewFav.urlToImage}}" alt="Card image cap" style="max-height: 300px" >
  <div class="card-block">
    <div>
        <h4 class="card-title">{{viewFav.title}}</h4>
    <p class="card-text">{{viewFav.description}}</p>
    <button type="button" class="btn btn-danger" (click)=" deleteFavourite(viewFav.id)" >Delete</button>
    
<a class="btn btn-primary" id="btn" >Comment</a>
<div class="form-group">
    <label for="comment">Comment: {{viewFav.comment}}</label>
    <input type="text" [(ngModel)]="temp" class="form-control" id="comment">
  
  <button class="btn btn-success" id="btn" (click)=" updateFavouriteNews(viewFav,temp)">Add</button></div>
      <!-- <a class="btn btn-primary" id="#comment" data-toggle="collapse" href="#commentData" aria-expanded="false" aria-controls="collapseExample">
      comment
      </a>
    
    
    <div class="collapse" id="commentData"  >
      <div class="card card-block">
        
      </div>
    </div> -->
  <!--</div>
</div>
</div> -->

    